<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>About XeeFrame</h2>
			<p>You can use XeeFrame in your home or company. It is a opensource framework, You can using this where you want for free!
			<p>XeeFrame developed by me and you can watching repository in <a href="https://github.com/Tomart91/XeeFrame">here</a></p>
		</div>
	</div>
</section>