<div class="">
	<div class="col-md-8 col-md-offset-2">
		<h1 class="brand-heading">XeeFrame</h1>
		<p class="intro-text">{{Lang.translate('LBL_FRAMEWORK_DESCRIPTION')}}
			<br>Created by Tomasz Kur.</p>
	</div>
</div>
