<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<form action="?mode=processLogin" method="POST">
				<input type="text" name="login" class="form-control">
				<input type="password" name="pass" class="form-control">
				<button class="btn btn-primary">Zaloguj sie</button>
			</form>
        </div>
	</div>
</section>
