<div class="col-xs-12 consoleConatainer">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">SQL</a></li>
		<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">ERRORS</a></li>
		<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">AJAX</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="home">
			<div class="sqlContainer">
				<h4>SQL</h4>
				{% for QUERY in DEBUG_QUERIES %}
					Query: {{QUERY.get('query')}}<br>
					Params: {{QUERY.displayParams()}}<br>
					Time: {{QUERY.get('time')}} s
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(QUERY.get('time') / TIME_TO_SHOW) * 100 }}%;">
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="profile">..dffdgdgdf.</div>
		<div role="tabpanel" class="tab-pane" id="messages">dsdfsdf</div>
	</div>
</div>
