</div>
<footer>
	<div class="col-xs-4">
		<div class="col-xs-12 text-center">
			<div class="icon">
				<span class="glyphicon glyphicon-user"></span>
			</div>
			Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
		</div>
	</div>
	<div class="col-xs-4">
		<div class="col-xs-12 text-center">
			<div class="icon">
				<span class="glyphicon glyphicon-user"></span>
			</div>
			Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
		</div>
	</div>
	<div class="col-xs-4">
		<div class="col-xs-12 text-center">
			<div class="icon">
				<span class="glyphicon glyphicon-user"></span>
			</div>
			Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później
		</div>
	</div>
</footer>
<div class="fixedFooter">
	<p class="text-center">XeeFrame</p>
</div>
</div>
{% if IS_DEBUG  %}
	{{ include('Console.twig') }}
{% endif %}
{% for SCRIPT in  JS_SCRIPTS %}
	<script src="{{SCRIPT}}" type="text/javascript"></script>
{% endfor %}
</body>
</html>
