</div>
</div>
</header>			
</div>
{% if IS_DEBUG  %}
	{{ include('Console.twig') }}
{% endif %}
{% for SCRIPT in  JS_SCRIPTS %}
	<script src="{{SCRIPT}}" type="text/javascript"></script>
{% endfor %}
</body>
</html>
