<html>
	<head>
		<title>Title</title>
		{% for CSS in CSS_SCRIPTS%}
			<link href="{{CSS}}" rel="stylesheet" type="text/css"/>
		{% endfor %}
	</head>
	<body>
		<div id="page">
			<input type="hidden" id="module" value="{{MODULE_NAME}}">
			<input type="hidden" id="action" value="{{ACTION_NAME}}">
			<input type="hidden" id="mode" value="{{MODE_NAME}}">
			<div class="menuContainer">
				<div class="logoCompany">

				</div>
				<ul class="menuMainLevel">
					<li class="itemMenu link" data-url="/Home/Index">
						<span class="glyphicon glyphicon-home"></span>
						Home
					</li>
					<li class="itemMenu link" data-url="/Home/Index?mode=about">
						<span class="glyphicon glyphicon-user"></span>
						About me
					</li>
					<li class="itemMenu">
						<span class="glyphicon glyphicon-camera"></span>
						Gallery
					</li>
					<li class="itemMenu link" data-url="/Home/Index?mode=app">
						<span class="glyphicon glyphicon-floppy-disk"></span>
						Application
					</li>
					<li class="itemMenu link" data-url="/Home/Index?mode=contact">
						<span class="glyphicon glyphicon-phone-alt"></span>
						Contact
					</li>
				</ul>
			</div>
			<div class="bodyHeader">

			</div>
			<div class="mainBody" id="pjaxContainer">
